h3 {
    color: darkgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3 {
text-align: center;
}

p{
    line-height: 25px;

}
a {
text-decoration: none;

}
#also {
    text-transform: uppercase;
}