.headerImage {
    text-align: center;
    width: 100%;
    height: 200px;
    background-image: url('Mexico-945297.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.cardContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    
}


.card {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
}