body {
    background-color: #111111;
}

h1 {
    color: #E2e90f;
    text-align: center;
    font-size: 25%;
}

p {
    color: #eeeeee;
    font-size: larger;
}

.credits {
text-decoration: underline;
color: blue;
}

#film-description {
    font-size: smaller;
    font-style: italic;
}