ul {
    border: 0px black solid;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    background-color: blue;
    list-style-type: none;
    padding: 10px

}
li {
    border: 1px black solid;
    padding: 10px;
    margin: 0px;
    background-color: aqua;
    flex: 1;
    text-align: center;

}

header{
    text-align: center;
    padding: 20px;
    background-image: url('large.jpg');
    background-size:  cover;
    color: white;
    border: double  white
}

#cont{
margin: auto;
border: 1px black solid;
width: 75%;
height: 500px;
background-color: rgb(11, 24, 44)
}

/* img{
    width: 60%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */
body{
background-image: url("wapp.jpg");
background-size: 300px 200px cover;

}

.mySlides {
    display: none;
    width: 75%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 81%;
    width: auto;
    margin-top: 102px;
    margin-right: 188px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color: white;
}

.pic{
    width: 89%;
    display: block;
    margin-left: 144px;
    margin-right: 18px;
    margin-top: 15px;
}

.column{
    border: white solid;
    margin: auto;
    width: 65%;
    padding: 10px;
    margin-bottom: 40px;
}
div.column > p{

color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.gallery{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 10px;
    height:auto;
    
}





#service{
    flex-direction: column;
    margin: auto;
    margin-top: 67px;
    margin-left: 175px;
    margin-right: 49px;
    margin-bottom:  20px;
}

h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: xx-large;
}

#box{
    width: 75%;
    height: 600px;
    border: white double;
    margin: auto;
    background-color: grey;
}

.bottom{
    width: 75%;
    height: 50px;
    margin-top: 30px;
    margin: auto;
    border: solid white;
}

.pic1{
 margin: auto;
}

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        /* background-color: DodgerBlue; */
        justify-content: center;
      }
      
.flex-container > div {
        
  margin: 10px;
  padding: 20px;
  font-size: 30px;
        
      } 

#link{
    width:42px;
    height:42px;
    border:0px;
    
   
}

#row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info{
    width: 70%;
    height: 400px;
    border: white solid;
    margin: auto;
    margin-bottom: 50px;
    background-image: url('nightmare.jpg');
    background: cover;

}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #cont, body, .bottom{ 
      width:100%;
    }
  }

  @media (min-width: 400px) and (max-width: 800px) {
    body { background-image: url('wallpaper.jpg'); }
  }
  h3{
     color: honeydew;
     text-align: center;
  }

  map{
    width:100%;
    height:400px;
  }
  h4{
      color: white;
      text-align: center;
      font-size: 40px;
  }