.calculator{
    border: 1px black solid;
    width: 250px;
    height: 240px;
    background-color: lightgrey;
    margin: 10px;
}

div{
    position: relative;
    margin: auto;
    width: 60%;
    
    padding: 10px;
}
body{
    background-color: rgb(48, 216, 166)
}