div{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: blue;
    top: 0;
}

.blog{
    position: static;
    height: 150px;
    width: 75%;
    background-color: lightblue;
    border: grey 1px solid;
    margin: auto;
    
}

.top {
    margin-top: 75px;
}

img {
    margin: 6px;
    border: grey solid
}

h5 {
    margin: 4px
}

.italic {
    font-style: italic;
}