.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 200px auto 200px; */
    
}
#headerIMG2{
    display:grid;
    grid-template-columns: 3fr 1fr;
}
.header {
    height: 300px;
   grid-column: 1/-1;
    background-size: cover;
    background-image: url(huntington.jpg)
}

.menu {
    grid-column: 1;
    padding: 20px;
    height: 500px;
}

.content {
    grid-column: 2;
    background-color: #e5ede8;
   
}
.content2{
    grid-column: 1;
    background-color: #8abc9f80;
    padding: 20px;
    height: 500px;
}
.footer {
    height: 300px;
    background-image: url(koi.jpg);
    background-size:cover;
    grid-column: 1/-1;
}
.bottom{
grid-column: 2;
background-color: #e5ede8;
}

.inbox {
grid-column: 1;
}

.inbox2{
grid-column: 2;
}

.footer2{
    grid-column: 1/-1;
    padding: 3em 10%;
    color: #fff;
    background: #134347;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}

.css{
    text-align:  center;
    color: white;
}